.areacon
{
border: 0.5px solid rgba(0,0,0,0.3);    
border-radius: 2px 15px 2px 15px;
position:absolute;
top: 100px;;
left:400px;
}      
 .areaformulario
 {
 margin-top: 20px;
 border: 1px solid black;
 padding: 20px;
 }
 
 .areapagina
{
margin-top: 20px;
border: 1px solid black;
padding: 20px;
}
.input
{
width: 400px;
margin: 0px;
position:relative;
padding: 10px;
border: 0.1px solid rgba(0,0,0,0.2);
left:50px;
border-radius: 7px;
}

.curso
{
margin-top: 20px;
border: 1px solid black;
padding: 20px;
}

.buttom
{
width:320px;
margin:10px;
padding: 10px;
border:0.1px solid blue;
border-radius:7px;
background: #5882FA;
color:white;
}

.foto-perfil
{
width: 200px;
border-radius: 1px solid black;
border: 1px salmon;
}

body
{
background-color: aquamarine;
}
